.form{
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: #162c3888;
    padding: 40px 35px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 1px 8px 1px #485b66;
    min-width: 280px;
    border-radius: 3px;
}

.form h1{
    text-transform: uppercase;
    margin: 20px 0;
}

.form .textValidation{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-size: 28px;
    text-transform: uppercase;
    border-radius: 3px;
}

.error {
    background-color: #e002069f;
}

.success{

    background-color: #00ad82;
}


.inputField{
    width: 100%;
    height: 45px;
}

.inputField input{
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #485b66;
    padding: 0 10px;
    font-size: 24px;
}

.inputFieldTextArea{
    width: 100%;
}

.inputFieldTextArea textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #485b66;
    font-size: 24px;

}

.form input[type="submit"]{
    width: 100%;
    height: 40px;
    font-size: 24px;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #00ad82;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
}

@media screen and (max-width: 580px){
    .form{
       max-width: 345px;;
    }

    .form h1{
        font-size: 28px;
    }

    .form .textValidation{
        font-size: 20px;
    }

}

.inputField input{
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #485b66;
    padding: 0 10px;
    font-size: 18px;
}

.inputFieldTextArea textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #485b66;
    font-size: 18px;
}